/*
 * File Name: main.css
 * Purpose:
 * Date: Tuesday, May 5, 2020
 */

body {
    background: #F1F1F1;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
}

header {
    background-color: rgb(25, 25, 25);
    border-bottom: 10px solid #323232;
    box-shadow: 0 0 25px #000;
    color: #FF9600;
    padding: 5px 10%;
}

header h1, h2 {
    font-weight: normal;
}

main {
    margin: 50px auto;
    overflow: auto;
    width: 80%;
}

section {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

section, aside {
    background-color: #FFF;
    border: 1px solid #323232;
}

section h2, aside h2 {
    background: linear-gradient(#FAFAFA, #D7D7D7);
    border-bottom: 1px solid #323232;
    color: rgb(25, 25, 25);
    margin: 0;
    padding: 25px;
}

aside ul {
    margin: 15px;
    padding: 0;
}

aside li {
    list-style: none;
}

aside li a {
    color: #FF9600;
    text-decoration: none;
}

aside li a:hover {
    text-decoration: underline;
}

#interactive-area {
    margin: 25px;
}

#write-area {
    border: 1px solid #323232;
    font-size: 125%;
    resize: none;
    width: 100%;
}

#virtual-keyboard {
    background-color: rgb(250, 250, 250);
    border: 1px solid #323232;
    padding: 25px;
    text-align: center;
}

#virtual-keyboard li {
    cursor: pointer;
    display: inline-block;
    list-style: none;
    user-select: none;
}

.keyboard-key {
    background: linear-gradient(#FAFAFA, #D7D7D7);
    border: 1px solid #323232;
    margin-bottom: 15px;
    margin-right: 10px;
    padding: 10px 15px;
}

.keyboard-key:hover {
    background: linear-gradient(#E1E1E1, #A4A4A4);
    box-shadow: 0 0 5px #000;
}

.keyboard-key:active {
    background: linear-gradient(#A4A4A4, #E1E1E1);
    box-shadow: 0 0 5px #000;
}