/*
 * File Name:     main.css
 * By:            Darian Benam (GitHub: https://github.com/BeardedFish/)
 * Date:          Tuesday, May 5, 2020
 */

body {
    background: #141414;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
}

header {
    background-color: #1F1F1F;
    box-shadow: 0 0 15px #000;
    color: #FFF;
    padding: 0 10%;
}

header h1 {
    background: linear-gradient(#1669b7, #00509E);
    display: inline-block;
    margin: 0;
    padding: 25px 25px;
    text-shadow: 2px 2px 5px #000;
}

header h1, h2 {
    font-weight: normal;
}

main {
    margin: 50px auto;
    overflow: visible;
    width: 80%;
}

section {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

aside, section {
    background-color: #282a2c; /*#FFF;*/
    border: 2px solid #363636;
    border-radius: 5px;
    box-shadow: 0 0 15px #000;
    margin-bottom: 50px;
}

section h2, aside h2 {
    background: #1F1F1F;
    border-bottom: 2px solid #363636;
    border-radius: 5px 5px 0 0;
    color: #CCC;
    margin: 0;
    padding: 25px;
}

aside ul {
    margin: 15px;
    padding: 0;
}

aside li {
    list-style: none;
    margin-bottom: 15px;
}

aside li a {
    color: #1669b7;
    text-decoration: none;
}

aside li a:hover {
    text-decoration: underline;
}

#interactive-area {
    margin: 25px;
}

#write-area {
    background-color: #3d3d3d;
    border: none;
    caret-color: #FFF;
    color: #FFF;
    font-size: 150%;
    height: 250px;
    line-height: 1.5em;
    margin-bottom: 25px;
    resize: none;
    width: calc(100% - 18px);
    padding: 5px 10px;
    transition: box-shadow .2s ease-in-out;
}

#write-area:hover {
    box-shadow: 0 0 5px #1669b7;
}

#write-area:focus {
    box-shadow: 0 0 5px #1669b7;
}

#virtual-keyboard {
    background-color: #1F1F1F;
    font-size: 75%;
    font-weight: bold;
    padding: 25px;
    padding-bottom: 25x;
    width: calc(100% - 48px);
    overflow-x: auto;
}

#virtual-keyboard div {
    display: inline-block;
    white-space: nowrap;
    list-style: none;
    margin-bottom: 5px;
    text-align: center;
    user-select: none;
}

#virtual-keyboard div:last-child {
    margin-bottom: 5px;
}

.keyboard-key, .special-keyboard-key {
    background: #3D3D3D;
    border-radius: 5px;
    color: #CCC;
    cursor: pointer;
    margin-right: 7.5px;
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.keyboard-key {
    padding: 12px 15px;
}

#spacebar-key {
    padding: 10px 150px;
}

.keyboard-key:hover, .special-keyboard-key:hover {
    background-color: #1669b7;
    box-shadow: 0 0 5px #1669b7;
}

.keyboard-key:active, .special-keyboard-key:active {
    background-color: #00509E;
    box-shadow: 0 0 5px #00509E;
}

.keyboard-row {
    position: relative;
    width: 100%;
}