/*
 * File Name:     mobile.css
 * By:            Darian Benam (GitHub: https://github.com/BeardedFish/)
 * Date:          Tuesday, May 19, 2020
 */

 @media only screen and (max-width: 480px) {
    header h1 {
        font-size: 1em;
        width: calc(100% - 50px);
    }

    aside, section {
        float: none;
        width: auto;
    }

    #write-area {
        margin-bottom: 0;
    }

    #virtual-keyboard { /* Mobile devices already have a virtual keyboard so no point to show the entire virtual keyboard */
        display: none;
    }
  }